*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{
    background-color: ghostwhite;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.imgRemeras {
    padding: 4%;
}

.imgLogo{
    width: 10%;
}

.menuStyle {
    display: flex;
    justify-content: flex-start;
}

.buscadorMain {
    display: flex;
    justify-content: center;
}

#navbarNav{
    display: flex;
    justify-content: flex-start;
}

.botonPrincipal {
    display: flex;
    align-items: center;
}

.navbar-contenedor {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-contenedor ul {
    margin: 0 auto;
}

.navbar-contenedor .navbar-toggler {
    border: none;
}

.tamImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.tamCard{
    display: flex;
    justify-content: space-evenly;
}

.btnTrash{
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.botonesCardCart{
    display: flex;
    justify-content: space-between;
}

.totalPagar{
    margin-left: 10px;
}

.botonFinalizarCompra{
    margin-right: 10px;
    margin-bottom: 10px;
}