.header-logo{
    display: flex;
    justify-content: center;
}

.imgRemeras{
    padding: 4%;
}

.cardRemeras{
    margin-right: 3%;
}

.imgLogo{
    width: 100px;
}

.menuStyle{
    display: flex;
    justify-content: flex-start;
}

.buscadorMain{
    display: flex;
    justify-content: center;
}

.navbarHeader{
    display: flex;
    justify-content: space-between;
}

.botonPrincipal{
    display: flex;
    align-items: center;
}